/* ------------------------ */
/* Custom Properties        */
/* ------------------------ */

:root {
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
}

/* ------------------------ */
/* Reset                    */
/* ------------------------ */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Set Up The Body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* Make Images Easier to Work With */
img,
picture {
  min-width: 100%;
  display: block;
}

/* Make Form Elements (which do not inherit font by default) Easier to Work With */
input,
button,
textarea,
select {
  font: inherit;
}

/* Accessibility - remove animations for people who've turned them off in the browser or OS bcs of dizziness*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------ */
/* Utility Classes          */
/* ------------------------ */

.flex {
    display: flex;
    gap: var(--gap, 1rem); /* 1rem is default */
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em; /* padding left-right */
    margin-inline: auto; /* to center */
    max-width: 80rem;
}

/* For Screen Readers Only - hides the element, accessible for screen readers*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

/* Colors */

.bg-dark {
    background-color: hsl( var(--clr-dark) );
}
.bg-light {
    background-color: hsl( var(--clr-light) );
}
.bg-white {
    background-color: hsl( var(--clr-white) );
}
.bg-example {
    background-color: hsl( var(--clr-light) / .2 ); /* 20% of alpha (=231*0.2)*/
}
.text-dark {
    color: hsl( var(--clr-dark) );
}
.text-light {
    color: hsl( var(--clr-light) );
}
.text-white {
    color: hsl( var(--clr-white) );
}